.card-front-container {
    position: absolute;
    left: 12%;
    top: 10%;
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 280px;
    border-radius: 5px;
    background-color: #014d3a;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.circles {
    display: flex;
    align-items: center;
    margin-left: 7%;
    margin-bottom: 20px;
    height: 50%;
    gap: 5px;
}
.circle1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #f6931e;
}
.circle2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    border: 2px solid #ed1a25;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data h2 {
    padding: 30px;
    color: rgba(202, 202, 202, 0.938);
}
.data h1 {
    color: rgba(202, 202, 202, 0.938);
}

.name-year {
    font-size: 12px;
    width: 150%;
    display: flex;
    justify-content: space-around;
}